.image {
    width: 90%;
    height: 150px;
    object-fit: contain;
    transition: 0.3s ease-in-out;
    
}
.images {
   
    padding: 60px;
    display: grid;
    gap: 1rem;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.images p {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    justify-content: center;
    font-weight: 50;
}
.image:hover {
    cursor:pointer;
    transform: scale(1.2);
}
