.search {
    background-color: white;
    display: flex;
    gap: 1rem;
    border-radius: 15px;
    width: 30%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    border: 1px solid var(--accent-color);
}
input {
    outline: none;
    border: none;
    width: 80%;
}
.searchicon {
    margin-top: 5px;
    align-items: center;
    margin-left: 5px;
}
